html,
body {
	height: 100%;
}
body {
	margin: 0;
}
.container {
	max-width: 420px;
}
#sidebar {
	background: #fff;
	bottom: 0;
	left: 0;
	padding: 30px 20px;
	position: absolute;
	top: 0;
	width: 320px;
}
#sidebar button {
	padding: 8px 16px;
	width: 100%;
}

#sidebar .textarea {
	position: absolute;
	left: 20px;
	top: 90px;
	bottom: 30px;
	width: 280px;
}
#sidebar .textarea textarea {
	border: 2px solid #e9ecef;
	border-radius: 2px;
	height: 100%;
	outline: 0;
	overflow: auto;
	width: 100%;
	white-space: pre;
	word-wrap: normal;
}
#preview {
	background: #f4f6f6;
	bottom: 0;
	left: 320px;
	overflow: hidden;
	padding-left: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
#preview #iframe {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}
