@import url(
	http://fonts.googleapis.com/css?family=Lato:400,700
);

html,
body {
	height: 100%;
}
body {
	color: #222;
	font: 14px Lato, sans-serif;
	margin: 0;
}
h3 {
	margin: 0;
	font-size: 18px;
}
.container {
	max-width: 420px;
}
.row {
	margin: 0 -10px;
}
#sidebar {
	background: #fff;
	border-right: 1px solid #bdc3c7;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 320px;
}
#sidebar h3 {
	color: #7f8c8d;
}
#sidebar label {
	margin: 2px 0 10px 0;
}
#sidebar input,
#sidebar textarea {
	border: 2px solid #e9ecef;
	border-radius: 1px;
	font-size: 13px;
	margin: 2px 0 0;
	outline: 0;
	padding: 6px 8px;
	resize: none;
	transition: border-color .2s;
	width: 100%;
}
#sidebar input:hover {
	border-color: #bdc3c7;
}
#sidebar input:focus {
	border-color: #bdc3c7;
}
#sidebar [class*='col-xs-'] {
	padding: 0 10px;
}
#sidebar .fields {
	height: 100%;
}
#sidebar .fields {
	padding: 25px 30px 35px;
}

#sidebar .header,
#sidebar .content {
	border-bottom: 1px solid #ecf0f1;
}
#sidebar .header {
	background: #f8fafa;
	font-size: 18px;
	cursor: pointer;
	padding: 20px;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
#sidebar .header:hover {
	background: #f8fafa;
}
#sidebar .header:hover:before {
	color: #888;
}
#sidebar .header:before {
	content: "\f0aa";
	color: #888;
	font: 16px Octicons;
	position: absolute;
	margin-top: 4px;
	right: 25px;
}
#sidebar .collapsed {
	background: #fff;
}
#sidebar .collapsed:before {
	content: "\f05b";
	color: #ccc;
}
#sidebar .content .row {
	padding: 15px 20px;
}

#preview {
	background: #f4f6f6;
	bottom: 0;
	left: 320px;
	overflow: hidden;
	padding-left: 4px;
	position: absolute;
	right: 0;
	top: 0;
}
#preview #iframe {
	border: 0;
	height: 100%;
	margin: 0;
	width: 100%;
}
